<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>946464140721-h57b84mtvg5l2vkiuucfrcu48kh87fdk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.946464140721-h57b84mtvg5l2vkiuucfrcu48kh87fdk</string>
	<key>API_KEY</key>
	<string>AIzaSyDw5L4q7bnuVSJPqR_HRANRZ9AUKPQZ6Ow</string>
	<key>GCM_SENDER_ID</key>
	<string>946464140721</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jaewook.woogie-Instagram</string>
	<key>PROJECT_ID</key>
	<string>woogie-instagram</string>
	<key>STORAGE_BUCKET</key>
	<string>woogie-instagram.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:946464140721:ios:5248a86529dc4b03d82190</string>
</dict>
</plist>